header{
    background-color: #34495E;
    color: #fff;
}
header h1{
    margin-bottom: 0;
}
.error{
    color: #E74C3C;
}
.container-welcome{
    width: 100%;
    margin: auto;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container-table{
    width: 95%;
    overflow: auto;
    font-size: 1.1rem;
}
th{
    padding-left: 25px !important;
}
@media(min-width: 1000px){
    .container-table{
        width: 60%;
    }
}